@charset "utf-8";
/* CSS Document */
a{text-decoration:none;color:#333;}
i,em{font-style:normal;}
a,img{border:0;}
textarea{resize:none;}
input,button,select,textarea{outline:none}
body{color:#323232;width:100%;font-size:13px;font-family:Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,sans-self;}
.wu0503_2{background:#FFF;min-height:95vh;padding-top:5vh;}
.wu0503_2 span{display:block;text-align:center;color:#646464;font-size:22px;line-height:25px;margin-top:12vh;}
.wu0503_2 span img{width:35%;}













