/* CSS Document */
.xq_top{ width:100%; margin:0 auto;}
.xq_top span{width:100%; float:left; text-align:center; line-height:40px;font-family: "Microsoft Yahei", Arial; font-size:1em;}
.back{max-width: 100%;height: auto;width: auto\9; width:40px; position:absolute; z-index:1; left:10px; }

.banner{width:100%; margin:0 auto; text-align:center;}
.banner img{max-width: 100%;height: auto;width: auto\9;}

.xq_title{width:100%; float:left; background:#fff; border-bottom:1px #dcdcdc solid;}
.xq_title span{ padding-left:10px;font-family: "Microsoft Yahei", Arial; font-size:1em; line-height:45px;}
.xq_title font{text-decoration:line-through;font-family: "Microsoft Yahei", Arial; font-size:.8em; line-height:45px; padding-left:10px; color:#999999;}
.xq_kk{max-width: 100%;height: auto;width: auto\9; float:right; width:100px; margin-top:0px;}
.xq_title p{ padding: 0 10px 10px 10px;font-family: "Microsoft Yahei", Arial; font-size:1em; line-height:26px; color:#333333;}

.content{width:100%; float:left; background:#fff; border-bottom:1px #dcdcdc solid;border-top:1px #dcdcdc solid; margin-top:10px; padding:10px 0;}
.content div span{ width:40%;float:left;font-family: "Microsoft Yahei", Arial; font-size:1em; line-height:30px;color:#333333;}
.content div img{max-width: 100%;height: auto;width: auto\9; width:30px; padding-left:10px; float:left;}
.content p{font-family: "Microsoft Yahei", Arial; font-size:.8em; line-height:24px; padding:5px 10px; color:#333333; text-indent:25px;}
