/* CSS Document */


.liebiao_141111_2{width:100%; margin:0 auto;}
.liebiao_141111_2_box{ width:100%; margin:0 auto;}
.liebiao_141111_2_box ul{ width:96%; margin:0 auto;}
.liebiao_141111_2_box li{ width:100%; float:left; margin-top:20px; border:1px solid #bdbdbd; background:#fff;}
.liebiao_141111_2_box li img{ float:left;}
.liebiao_141111_2_box li span{ line-height:22px;font-size:0.6em;font-family: "Microsoft Yahei", Arial; padding:10px; float:left;}
.liebiao_141111_2_box li a{ text-decoration:none; color:#000;}
