/* CSS Document */



.dh_141217_box_2{ width:100%; margin:0 auto;}

.dh_141217_2box{position:absolute; width:80%;left:10%;color:#fff; font-family: "Microsoft Yahei", Arial; font-size:1.5em; line-height:34px; text-align:center; padding-top:20px;text-shadow: 1px 2px 1px #313131;}
.m_pic_141217{vertical-align: middle;position:absolute; left:37%; width:25%;border: 0 none;max-width: 100%;height: auto;border-radius: 100px; margin-top:20px; z-index:999;}
.dh_141217_2_box_c{ background:rgba(255,255,255,0.5); z-index:0;border-radius:10px; padding:40px 20px 10px 20px;}
.dh_141217_2_box_c span{ width:100%; line-height:22px;font-family: "Microsoft Yahei", Arial;font-size:1.0em; color:#313131;}
.dh_141217_2_box_c_neirong{ width:100%; float:left;background:#fff;border-radius:10px; padding-bottom:10px; margin-top:10px;}
input.dy_sq_left_141217_1{ width:30px; float:left; margin:0;  margin-top:15px;}
.dh_141217_2_box_c_neirong li{height:40px; line-height:40px;font-size:1.0em; margin-top:10px; border-bottom:1px #d5d5d5 solid;}

.tj_anniu_141217_tk_1{ width:30%;line-height:30px;border-radius: 5px; text-align:center;border:1px #d5d5d5 solid;background:#fff; margin:0 auto; margin-top:10px;font-family: "Microsoft Yahei", Arial;font-size:1.0em;}

.dh_141217_2_box_c_neirong dd{float:left; display:block; margin-left:10px; margin-top:10px;}
.dh_141217_2_box_c_neirong dd img{ float:left;}

.diaoyan0202_img_bt{ width:90%; margin:0 auto; margin-top:10px;text-align:center;}
.diaoyan0202_img_bt img{max-width: 100%;height: auto;width: auto\9; /* ie8 */}