.meijimu_1022_yd{ margin:0 auto; background:#0172c0; width:100%; height:100%;}

.meijimu_1022_wt{ margin:0 auto;background:#0172c0; width:100%;}
.meijimu_1022_wt_center{ width:100%;}
.meijimu_1022_wt_c_top{margin:0 auto; text-align:center}
.meijimu_1022_wt_c_box{width:95%; height:auto; background:url(/images/mjm/wenti_02.jpg) repeat;margin:0 auto; min-height:470px;}
.meijimu_1022_wt_c_box p{font-size: 1.1em; font-weight:bold; padding:10px 10px 0 10px; line-height:28px; color:#00a53c;}
.neirong{ width:100%; margin:0 auto;}
.neirong span{font-size: 1.1em; font-weight:bold;color:#006bbb;padding:0 10px 0 10px;}
.page {padding-bottom:10px;}