* {margin: 0;padding: 0;}
body {background:#fff;width: 100%;font-family:微软雅黑;}
a {color:#2b2b2b;text-decoration:none;outline:none;}
img {border:0;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;} 
.left {float:left;}
.right {float:right;}
.mt10 {margin-top:10px;}
.mr2 {margin-right:2px;}
.ilb {display:inline-block;float:left;position:relative;cursor:pointer;}
ul li {list-style:none;}

.imgblock {margin: 0 auto;width: 940px;text-align:center;}
.content {width:750px;border:1px solid #C9383B;float:left;}
.list {margin-left:760px;}
.custom {padding:15px 80px;}
ul.kan_list {margin-top:10px;}
ul.kan_list li {height:50px;line-height:50px;}
ul.kan_list li.odd {background:#E2E2E2;}
ul.kan_list li.even {background:#F0F0F0;}
ul.kan_list li a {color:#585858;padding-left:30px;}
ul.kan_list li.selected a {color:#ff737c;}
ul.kan_list li.odd a {background:url(/images/byt/right_arrow_odd.png) 15px 5px no-repeat;}
ul.kan_list li.even a {background:url(/images/byt/right_arrow_even.png) 15px 5px no-repeat;}
ul.kan_list li.selected a {background:url(/images/byt/right_arrow_red.png) 15px 5px no-repeat;}

/* uidialog */
.ui-dialog{position:fixed;min-width:150px;background:#fff;overflow:hidden;z-index:99999;border:5px solid #767576;}
.ui-dialog h1{*margin-top:-3px;position:relative;text-indent:1em;padding:3px 0;font-size:14px;font-weight:normal;background:#efefef;border-bottom:1px solid #ccc;-moz-user-select:none;/* FF禁止选择文字 */-webkit-user-select:none;/* Chrome禁止选择文字 */}
.ui-dialog h1 .ui-close{position:absolute;top:1px;right:5px;cursor:pointer;text-indent:-9999px;background:url(/images/haima/pop_close.png);height:24px;width:24px;display:block;}
.ui-dialog-body{ padding:10px;}
.ui-title{ border-bottom:1px solid #ccc; background:#f0f0f0;}
.ui-mask{position:absolute;left:0;top:0;z-index:77777;background:#000;filter:alpha(opacity=50);opacity:0.5;}

/*Phone*/
.phone_wrap {max-width:720px;margin:0 auto;padding-bottom:20px;}