/* CSS Document */

.box_dl{width:100%; float:left;font-family: "Microsoft Yahei", Arial; font-size:14px; margin-top:100px;}
.input_dl{ width: 100%;
float: left;
height: 30px;
line-height: 30px;
border: none;
text-align: center;
box-shadow: 1px 1px 1px #888888;
margin: 0;
padding: 0;
border-radius: 5px;}
.box_dl li{ width:100%; float:left; margin-top:15px; }
.box_dl ul{ width:80%; margin:0 auto;}
.box_dl li span{ width:25%; float:left; text-align:left; line-height:30px;}
.button_dl{ width:40%; float:left;background:#0099ff; line-height:30px; color:#fff; margin-top:30px;border-radius:5px; border:none; margin-left:30%;font-family: "Microsoft Yahei", Arial; font-size:14px;}
.box_dl span{ width:100%; float:left; text-align:center; line-height:30px;}