@charset "utf-8";



section{margin:0 auto;width:100%;max-width:960px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>960?"960px":"");font-family: "Microsoft Yahei", Arial;}

/* 滑动门通用样式*/
/* tabbed_content */
.tabbed_content_141205_zjd{background-color:none;max-width:960px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>960?"960px":"");}
.tabs_141205_zjd{width:100%;height:35px;line-height:35px;position:relative;background:#614636;border-bottom:solid 1px #CCC;overflow:hidden; color:#fff;}
.tabs_141205_zjd h2{padding-left:10px;float:left;}
.tabs_141205_zjd .moving_bg{width:33%;_width:15%;height:33px;border-bottom:solid 2px #B52232;background-color:#FFF;position:absolute;z-index:190;left:0;background-position:bottom left;background-repeat:no-repeat;overflow:hidden;}
.tabs_141205_zjd2 .moving_bg{width:20%}
.tabs_141205_zjd3 .moving_bg{width:16.6666666%;}
.tabs_141205_zjd .tab_item{display:block;float:left;width:33%;color:#c49a82;text-align:center;z-index:200;position:relative;cursor:pointer;overflow:hidden;}
.tabs_141205_zjd2 .tab_item{width:20%;}

.tabs_141205_zjd3 .tab_item{width:16.6666666%;}
.tabs_141205_zjd .tab_item:hover{color:#B52232;}
.tabbed_content_141205_zjd .slide_content_141205_zjd{overflow:hidden;background-color:none;position:relative;width:100%; height:150px;}
.tabslider_141205_zjd{width:400%}
.tabslider_141205_zjd2{width:500%}
.tabslider_141205_zjd3{width:600%}
.tabslider_141205_zjd ul{float:left;margin:0px;width:25%;text-align:left;-ms-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;/* padding和border被包含在定义的width和height之内 */background:none; height:140px; overflow:auto; margin-top:5px;}
.tabslider_141205_zjd2 ul{width:20%}
.tabslider_141205_zjd3 ul{width:16.6666666%;}

.tabslider_141205_zjd ul li{padding:4px 0 4px 15px;font-size:0.9em; line-height:22px; color:#d6b4a0;}

.hdsm_141205_zjd_ld{ width:90%; margin:0 auto; line-height:24px; font-size:0.9em; height:90px; overflow:auto;}
