##视频 已废弃

<div id="banner_box"  hydata="$pcbid" hyct="Y" status="0" class="hyzj $!ctname" style='$!hyct;'>
   <iframe class="video" src="http://player.youku.com/embed/XMTI2ODM5MDQ0OA==" frameborder="0" allowfullscreen="" allowtransparency="true" wmode="transparent" ></iframe>
</div>
