/* CSS Document */



.dh_141216_box_1{ width:100%; margin:0 auto;}


.donghua_141216_telbtn01 img{ width:100%;}

.donghua_141216_telbtn01 {display:block; position:absolute;width: 100%;top: 76.9%; margin:0 auto;
}
