@charset "utf-8";
.gywsm_150313_top img {
	height: 141px;
	width: 100%;
}
/*top_menu*/
.top_150313_menu {
	width: 100%;
	top: 0;
}
.ui-header_150313 {
	position: relative;
	background: #eae8e8;
	border-bottom: 1px solid #d2d0d0;
}
.ui-header_150313 h1 {
	margin:0;
	height: 40px;
	line-height: 40px;
	font-size: 1em;
	text-align: center;
	font-family: "Microsoft Yahei", Arial;
	color: #da011c;
}
.ui-header-left {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
height: 30px;
margin-top: 5px;
margin-left: 5px;
}

.ui-header-right {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
height: 30px;
margin-top: 5px;
margin-right: 5px;
}


.ui-header-right {
	left: auto;
	right: 0;
}
.ui-header-left a, .ui-header-right a {
	display: block;
	height: 100%;
	background-size: 30px auto;
	background-repeat: no-repeat;
	background-position: center center;
}

.menu_150313 {
	position: absolute;
	width: 120px;
	top: 40px;
	background: #eae8e8;
	color: #666;
	z-index: 100;
	display: none;
	font-family: "Microsoft Yahei", Arial;
}
.menu_150313 li {
	border-bottom: 1px solid #f7f6f6;
}
.menu_150313 li:after {
	content: '';
	display: block;
	width: 100%;
	border-bottom: 1px solid #d2d0d0;
}
.menu_150313 a {
	position: relative;
	height: 40px;
	line-height: 40px;
	padding: 0 20px 0 20px;
	border: none;
	display: block;
	color: #919191;
	text-decoration: none;
	font-size: 1em;
}
.menu_150313 a:after {
	display: block;
	content: '';
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -6px;
	width: 10px;
	height: 10px;
	border: 2px solid #bbb;
	border-width: 2px 2px 0 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* gysm */
.gywsm_150313_top {
	width: 100%;
	float: left;
	text-align: center;
}
.gysm_banner_150313 {
	width: 100%;
	float: left;
	background: #fff;
}
.gysm_banner_150313 li {
	width: 24.7%;
	float: left;
	text-align: center;
	line-height: 35px;
	font-family: "Microsoft Yahei", Arial;
	color: #cfcfcf;
	font-size: .9em;
	border-right: 1px #cfcfcf solid;
	border-bottom: 3px #cfcfcf solid;
	background: #fff;
}
.gysm_center_150313 {
	width: 90%;
	margin: 0 auto;
}
.gysm_banner_150313 li a {
	color: #505051;
	text-decoration: none;
}
.chxz_150316_img {
	width: 40%;
	float: left;
	margin-top: 20px;
}
.chxz_150316_img img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}
.chxz_150316_box {
	width: 100%;
	float: left;
	padding-bottom: 20px;
}
.chxz_150316_box li {
	width: 100%;
	float: left;
	font-family: "Microsoft Yahei", Arial;
	color: #505051;
	font-size: .9em;
	line-height: 24px;
	margin-top: 10px;
}
