/* CSS Document */



.page_cartoon_141223_2{ width:100%; margin:0 auto;}
.page_cartoon_141223_2_con{ width:70%;padding:20px 20px;position:absolute; bottom:25%; left:9%;font-family: "Microsoft Yahei", Arial; font-size:1.0em; color:rgb(12, 82, 158); text-align:center; line-height:20px; background:rgba(255,255,255,0.5);text-align: left; border:1px #fff solid;
}
