<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="wxTemplateDao" class="com.huiyee.interact.template.dao.impl.WxTemplateDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<bean id="wxTemplateIndustryDao" class="com.huiyee.interact.template.dao.impl.WxTemplateIndustryDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<bean id="wxTemplateJobDao" class="com.huiyee.interact.template.dao.impl.WxTemplateJobDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<bean id="wxTemplateStoreDao" class="com.huiyee.interact.template.dao.impl.WxTemplateStoreDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>

</beans>