<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="checkinMgr" class="com.huiyee.interact.checkin.mgr.CheckinMgr">
		<property name="checkinDao" ref="checkinDao"></property>
	</bean>
	<bean id="checkinRecordMgr" class="com.huiyee.interact.checkin.mgr.CheckinRecordMgr" parent="abstractMgr">
		<property name="checkinDao" ref="checkinDao"></property>
		<property name="checkinRecordDao" ref="checkinRecordDao"></property>
	</bean>
</beans>