<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="auctionDao" class="com.huiyee.interact.auction.dao.AuctionDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<bean id="auctionRecordDao" class="com.huiyee.interact.auction.dao.AuctionRecordDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
</beans>