<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="journalMgrImpl" class="com.huiyee.interact.journal.mgr.JournalMgrImpl" parent="abstractMgr">
		<property name="journalDao" ref="journalDaoImpl"></property>
	</bean>
	
	<bean id="periodicalRecordMgrImpl" class="com.huiyee.interact.journal.mgr.PeriodicalRecordMgrImpl">
		<property name="periodicalRecordDao" ref="periodicalRecordDaoImpl"></property>
	</bean>
	
</beans>
