<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="auctionMgr" class="com.huiyee.interact.auction.mgr.AuctionMgr">
		<property name="auctionDao" ref="auctionDao"></property>
	</bean>
	<bean id="auctionRecordMgr" class="com.huiyee.interact.auction.mgr.AuctionRecordMgr" parent="abstractMgr">
		<property name="auctionRecordDao" ref="auctionRecordDao"></property>
		<property name="auctionDao" ref="auctionDao"></property>
		<property name="weiXinDao" ref="weiXinDao"></property>
		<property name="sinaUserDao" ref="sinaUserDaoImpl"></property>
	</bean>
</beans>