<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="csDao" class="com.huiyee.interact.cs.dao.CsDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<bean id="csRecordDao" class="com.huiyee.interact.cs.dao.CsRecordDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
</beans>