<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="offCheckMgrImpl" class="com.huiyee.interact.offcheck.mgr.OffCheckMgrImpl" parent="abstractMgr">
		<property name="offCheckDao" ref="offCheckDaoImpl"></property>
		<property name="offCheckRecordDao" ref="offCheckRecordDaoImpl"></property>
		<property name="offCheckSourceDao" ref="offCheckSourceDaoImpl"></property>
		<property name="offCheckDzWayDao" ref="offCheckDzWayDao"></property>
		<property name="interactAptDao" ref="interactAptDaoImpl"></property>
		<property name="pageDao" ref="pageDaoImpl"></property>
		<property name="wxUserDao" ref="wxUserDaoImpl"></property>
		<property name="gzEventDao" ref="gzEventDaoImpl"></property>
	</bean>
	<bean id="offCheckDzWayMgr" class="com.huiyee.interact.offcheck.mgr.OffCheckDzWayMgr" parent="abstractMgr">
		<property name="offCheckDzWayDao" ref="offCheckDzWayDao"></property>
	</bean>
</beans>