<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="addOrderAction" class="com.huiyee.interact.appointment.action.AddOrderAction" 
		parent="interactModelAction" scope="prototype" init-method="init">
		<property name="interactAptManager" ref="interactAptManagerImpl"></property>
	</bean>
	<bean id="orderMesAction" class="com.huiyee.interact.appointment.action.OrderMesAction" 
		parent="interactModelAction" scope="prototype">
		<property name="interactAptManager" ref="interactAptManagerImpl"></property>
	</bean>
	<bean id="orderDataAction" class="com.huiyee.interact.appointment.action.OrderDataAction" 
		parent="interactModelAction" scope="prototype">
		<property name="interactAptManager" ref="interactAptManagerImpl"></property>
		<property name="hylogSolrServer" ref="hylogSolrServer"></property>
	</bean>
	<bean id="customAppointReportAction"
		class="com.huiyee.interact.appointment.action.CustomCommentReportAction"
		parent="abstractAction" scope="prototype">
		<property name="interactAptManager" ref="interactAptManagerImpl"></property>
	</bean>
	<bean id="aptAction"
		class="com.huiyee.interact.appointment.action.AptAction"
		parent="abstractAction" scope="prototype">
		<property name="aptManager" ref="interactAptManagerImpl"></property>
	</bean>
	<bean id="aptCodeAction"
		class="com.huiyee.interact.appointment.action.AptCodeAction"
		parent="interactModelAction" scope="prototype">
		<property name="aptManager" ref="interactAptManagerImpl"></property>
	</bean>
</beans>