.liebiao_1022_1{font-size: 62.5%; line-height: 1.7;}


.bottom{background-color:#E6E6E6; height:25px; line-height:25px; font-size:10px; color:#666; text-align:center; clear:both; margin-top:10px; margin-bottom:0px;}
.liebiao_1022_1_neirong{width:100%;}
.list-top{margin-top:15px;} 
.liebiao_1022_1_neirong-title{ font-size:16px; color:#444444;}
.liebiao_1022_1_neirong ul li{padding:10px 0px 10px 0px; border-bottom:1px solid #bfbfbf; clear:both; width:100%; float:left;}
.liebiao_1022_1_neirong ul li p{margin-bottom:5px; padding-left:18px;  padding-right:10px;}
.liebiao_1022_1_neirong ul li dl dt{color:#999; float:left; width:230px; margin-right:10px; padding-left:18px;}
.liebiao_1022_1_neirong ul li dl dt p{ margin:0 auto; padding:0;}
.liebiao_1022_1_neirong ul li dl dt span{ float: left;margin-top: 10px; padding:0;}
.liebiao_1022_1_neirong ul li dl dd{float:right; width:52px; height:65px; margin-right:10px;}
