/* CSS Document */

.group::after, .tabBlock-tabs::after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (min-width: 700px) {
  body {
    font-size: 137.5%;
  }
}
.tabBlock-pane p{border-bottom:1px #e6e6e6 solid;}


.unstyledList, .tabBlock-tabs {
  list-style: none;
  margin: 0;
  padding: 0; width:100%;border-bottom:1px #e6e6e6 solid;
}

.tabBlock {
  margin-top: 0;
float: left;width:100%;
}

.tabBlock-tab {

  cursor: pointer;
  display: inline-block;

  float: left;
  position: relative;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  width:24.6%;
}
.tabBlock-tab::before, .tabBlock-tab::after {
  content: "";
  display: block;

  position: absolute;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.tabBlock-tab::before {
  left: -2px;
  right: -2px;
  top: -2px;
}
.tabBlock-tab::after {
  background-color: transparent;
  bottom: -2px;
  left: 0;
  right: 0;
}
.tabBlock-tab.is-active {
  position: relative;
  color: #0099ff;
  z-index: 1;
  background: #fff;
}
.tabBlock-tab.is-active::before {
  background-color: #975997;
}
.tabBlock-tab.is-active::after {
  background-color: white;
}

.tabBlock-content { background:#fff;
}

.tabBlock-pane > :last-child {
  margin-bottom: 0;
}








body{ background:#f2f4f5;}

.cb_bottom{background:#c4c4c4; width:33.3%; float:left; text-align:center;font-size:.8em;font-family: "Microsoft Yahei", Arial; padding:5px 0; }
.cb_bottom img{max-width: 100%;height: auto;width: auto\9; text-align:center;width: 50%;}
.cb_bottom a{ text-decoration:none; color:#a2a5a7;}

.cb_header{ width:100%; background:#0099ff;font-size:1em;font-family: "Microsoft Yahei", Arial; color:#fff; line-height:44px;height:44px; padding:2px 0;}
.cb_header img{border-radius:100px; width:40px;max-width: 100%;height: auto;width: auto\9; margin-left:30%;float:left; margin-right:10px; margin-top:2px;}
#triangle-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 10px solid #fff; position:fixed; z-index:999; top:40px; left:43%;
}
.cb_title{width:100%; position:absolute; top:48px;}
.cb_title li{width:33.3%; float:left; text-align:center;font-size:.8em;font-family: "Microsoft Yahei", Arial; padding:10px 0; background:#fff; line-height:22px; color:#a2a5a7;}
strong{ font-weight:bold; color:#000;}

.box{ width:100%; margin-top:70px;}
.box_table{margin:0 auto; text-align:center; line-height:40px;box-shadow: 1px 1px 1px #888888; border:1px #e6e6e6 solid; margin-top:10px; background:#fff; color:#0099ff;}
.box_table td{border:1px #e6e6e6 solid;}
.box_table td.table_left{ background:#f1f1f1; color:#666666;}
.box_table td.table_right{color:#666666;}

.box_qr{width:100%; margin-top:55px;font-size:.8em;font-family: "Microsoft Yahei", Arial;}

.hd_list{ width:90%;margin:auto;}
.hd_list li{ width:100%;  float:left; background:#fff;box-shadow: 1px 1px 1px #888888; margin-top:10px;}
.hd_list li img{max-width: 100%;height: auto;width: auto\9; width:70px; padding:10px; float:left;}
.hd_l_title{ width:50%; float:left; margin-top:8px;}
.hd_l_title span{ width:100%;  float:left;font-size:.8em;font-family: "Microsoft Yahei", Arial;}
.hd_l_title p{ width:100%;  float:left;font-size:.7em;font-family: "Microsoft Yahei", Arial; line-height:18px;}

.hd_list_x{ width:100%;margin:0 auto;}
.hd_list_x li{ width:100%;  float:left; background:#fff; margin-top:10px;padding-bottom: 10px; border-bottom:1px #e4e4e4 dashed;}
.hd_list_x li img{max-width: 100%;height: auto;width: auto\9; width:70px; padding:10px; float:left;}
.hd_box{ width:90%;height:auto!important;margin:auto;}

.hd_l_r{ width:50px; float:right;}
.fenxiang{ width:60px; float:right; height:25px;font-size:.8em;font-family: "Microsoft Yahei", Arial; line-height:25px; text-align:center; background:#0099ff;border-radius:5px; margin:15px 10px 10px 0; color:#fff;}
.chakan{ width:40px; float:right; right:20px;font-size:.8em;font-family: "Microsoft Yahei", Arial; line-height:20px; text-align:center;background:#4f4c4d;border-radius:5px;margin:15px 10px 0 0;color:#fff;}
.chakan a{ color:#fff; text-decoration:none;}
.fenxiang_list{ width:40px; float:right; height:20px;font-size:.8em;font-family: "Microsoft Yahei", Arial; line-height:20px; text-align:center; background:#0099ff;border-radius:5px; margin:5px 10px 0 0; color:#fff;}

#cover{display:none;position:absolute;left:0;top:0;z-index:18888;background-color:#000000;opacity:0.7;}
#guide{display:none;position:absolute;right:18px;top:5px;z-index:19999;}
#guide img{width:260px;height:180px;}


.proList{font-size:1em;font-family: "Microsoft Yahei", Arial;width: 100%; background:#fff; float:left;box-shadow: 1px 1px 1px #888888; margin-top:10px; padding:10px 0;}
.plTitle {
    float: left;
    width: 100%;font-size: .8em; font-family: "Microsoft Yahei", Arial;
}
.plTitle a { 
    color: #3f3f3f;
    float: left;
    line-height: 20px;
width: 80%; text-decoration:none; text-indent:10px;
}
.plTitle em {
    background:url(http://img.huiyee.com/site/1140/427/images/icon3.gif) no-repeat scroll left center;
    cursor: pointer;
    float: right;
    font-style: normal;
    font-weight: normal;
    line-height: 29px;padding: 0 0 0 15px; margin-top: -10px;
margin-right: 10px;
}
.proList .plCon { width:100%;
float: left;font-size:.8em; font-family: "Microsoft Yahei", Arial; line-height:20px;color:#666;
}

.proList h1 {
float: left;
font-family: "Microsoft Yahei", Arial;
font-size: 1em;line-height: 26px;
color: #065dac; text-indent:10px;
margin:0;
}

.proList span font {
font-family: "Microsoft Yahei", Arial;
font-size: .8em;
line-height: 26px;
float: left;
margin-left: 10px;
}

.hdsm{ width:40px; float:right;font-family: "Microsoft Yahei", Arial;font-size: .8em; line-height:20px; text-align:center; margin-right:10px; background:#0099ff; color:#fff;border-radius:5px;}
.hdsm a{ color:#fff; text-decoration:none;}
.jianjie{padding:30px 10px 0 10px; line-height:20px;font-family: "Microsoft Yahei", Arial;font-size: .8em;}
.jianjie_fen{padding:10px;font-family: "Microsoft Yahei", Arial;font-size: .8em;}
.jianjie_fen dd{ line-height:20px; float:left;font-family: "Microsoft Yahei", Arial;font-size: .8em; width:90%;}
.jianjie_fen dd span{ color:#F00;}
.jlbutton{width:40%; float:left;background:#0099ff; line-height:30px; color:#fff;margin-top:14px;border-radius:5px; border:none; margin-left:30%;font-family: "Microsoft Yahei", Arial; font-size:14px;}