/* CSS Document */



.page_cartoon_141224_1{ width:100%; margin:0 auto;}
.page_cartoon_141224_1 img{max-width: 100%;height: auto;width: auto\9;}

.page_cartoon_141224_1_tu{ width:90%;border: 6px solid rgb(255, 255, 255);box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 3px;position:absolute; top:5%; left:3%;}
.page_cattoon_141224_1_box{ width:90%;position:absolute;top:49%;}
.page_cattoon_141224_1_box1{ width:20%;position:absolute; left:0%;}
.page_cattoon_141224_1_box2{ width:80%;position:absolute; right:0%; top:24px;}
.page_cattoon_141224_1_box3{ width:100%;position:absolute;text-align: right;top: 20px;font-family: "Microsoft Yahei", Arial;font-size:1.6em;}
.page_cattoon_141224_1_desc{ width:90%;position:absolute; bottom:14%;left:5%; line-height:24px;font-family: "Microsoft Yahei", Arial;font-size:0.9em;}
