@charset "utf-8";
/* CSS Document */

.box_dazhuanpan1_141113_1{ width:350px;padding-bottom:10px;float:left;}



.wdy_top{ margin:0 auto;text-align:center;position:relative;}
.wdy_center_dazhuanpan1_141113_1{ margin:0 auto;}
.zhuanpan_dazhuanpan1_141113_1{margin:0 auto;text-align:center; }

.jx_zhan_dazhuanpan1_141113_1{ width:90%;border-radius: 5px;border:1px #8a8a8a solid;margin:0 auto; background:#fff;margin-top:10px;}
.jx_zhuan_zi_dazhuanpan1_141113_1{padding: 10px;}
.jx_zhuan_zi_dazhuanpan1_141113_1 span{ line-height:26px;font-family:Microsoft YaHei;font-size: 0.8em;}

table.info tr {line-height:30px;}
input[type="text"], textarea {border:1px solid #c6c6c6;}
input[type="text"] {line-height:20px;}
input[type="button"] {background:#e6e6e6;border:1px solid #c6c6c6;padding:4px 7px;font-size:.8em;}

.jdrs_return{ width:10%; position:absolute;top:10%;right:15%;}














