/* CSS Document */



.page_cartoon_141225_1{ width:100%; margin:0 auto;}
.page_cartoon_141225_1 img{max-width: 100%;height: auto;width: auto\9;}
.page_cartoon_141225_1_left{ width:10%;position:absolute; left:10%; top:10%;font-family: "Microsoft Yahei", Arial;font-size:1.6em;color:#ff6600;line-height: 30px;}
.page_cartoon_141225_1_xian{ position:absolute; left:20%;top:8%;}
.page_cartoon_141225_1_right{ width:60%;position:absolute; right:10%;top:10%; color:#ff6600; line-height:24px;font-family: "Microsoft Yahei", Arial;font-size:1.0em; letter-spacing:1px;}