.page1_141223_box_1{ width:100%; margin:0 auto;}
.page1_141223_top1{ width:87%;margin: 0 auto;position:absolute; top:45%;font-family: "Microsoft Yahei", Arial; font-size:1.5em; padding:0 20px;text-align:center;
}
.page1_141223_top2{ width:87%; margin: 0 auto;padding:0 20px;position:absolute; bottom:35%;font-family: "Microsoft Yahei", Arial; font-size:1.2em; color:#fff; text-align:center; line-height:24px;
}
