@charset "utf-8";
.gywsm_150313_top img,.smzj_150313_zj_img img {
	width: 100%;
	height: 141px;
}
.zj_right_img img{
	width: 100%;
}
/*top_menu*/
.top_150313_menu {
	width: 100%;
	top: 0;
}
.ui-header_150313 {
	position: relative;
	background: #eae8e8;
	border-bottom: 1px solid #d2d0d0;
}
.ui-header_150313 h1 {
	margin:0;
	height: 40px;
	line-height: 40px;
	font-size: 1em;
	text-align: center;
	font-family: "Microsoft Yahei", Arial;
	color: #da011c;
}
.ui-header-left {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
height: 30px;
margin-top: 5px;
margin-left: 5px;
}

.ui-header-right {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
height: 30px;
margin-top: 5px;
margin-right: 5px;
}


.ui-header-right {
	left: auto;
	right: 0;
}
.ui-header-left a, .ui-header-right a {
	display: block;
	height: 100%;
	background-size: 30px auto;
	background-repeat: no-repeat;
	background-position: center center;
}

.menu_150313 {
	position: absolute;
	width: 120px;
	top: 40px;
	background: #eae8e8;
	color: #666;
	z-index: 100;
	display: none;
	font-family: "Microsoft Yahei", Arial;
}
.menu_150313 li {
	border-bottom: 1px solid #f7f6f6;
}
.menu_150313 li:after {
	content: '';
	display: block;
	width: 100%;
	border-bottom: 1px solid #d2d0d0;
}
.menu_150313 a {
	position: relative;
	height: 40px;
	line-height: 40px;
	padding: 0 20px 0 20px;
	border: none;
	display: block;
	color: #919191;
	text-decoration: none;
	font-size: 1em;
}
.menu_150313 a:after {
	display: block;
	content: '';
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -6px;
	width: 10px;
	height: 10px;
	border: 2px solid #bbb;
	border-width: 2px 2px 0 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* gysm */
.gywsm_150313_top {
	width: 100%;
	float: left;
	text-align: center;
}
.gysm_banner_150313 {
	width: 100%;
	float: left;
}
.gysm_banner_150313 li {
	width: 33.1%;
	float: left;
	text-align: center;
	line-height: 35px;
	font-family: "Microsoft Yahei", Arial;
	color: #cfcfcf;
	font-size: 1em;
	border-right: 1px #cfcfcf solid;
	border-bottom: 3px #cfcfcf solid;
	background:#fff;
}
.gysm_banner_150313 li a {
	color: #505051;
	text-decoration: none;
}
/* smzj */
.smzj_150313_box {
	width: 100%;
	float: left;
	height: 280px;
	margin-top: 5%;
}
.smzj_150313_box li {
	width: 100%;
	height: 120px;
	float: left;
	overflow: hidden;
}
.smzj_150313_zj_left {
	width: 20%;
	float: left;
	text-align: center;
	font-size: .9em;
	font-family: "Microsoft Yahei", Arial;
	line-height: 20px;
	color: #505051;
	padding-top: 35px;
}
.smzj_150313_zj_img {
	height: 120px;
	float: left;
}
.smzj_150313_zj_right {
	width: 70%;
	float: left;
	font-size: .9em;
	line-height: 20px;
	padding-top: 10px;
	text-align: left;
}
.zj_right_img {
	width: 40%;
	float: left;
	padding: 5px 10px 0 10px;
}
.zj_right_desc {
	width: 50%;
	float: left;
	font-family: "Microsoft Yahei", Arial;
	color: #505051;
	font-size: .9em;
	text-align: left;
	line-height: 20px;
}
.smzj_150313_zj_img img {
	height: 120px;
	width: auto;
}
