/* CSS Document */



.xqy_141112_box_1{ width:100%; margin:0 auto;}
.xqy_141112_box_1_center{ width:96%; margin:0 auto;font-family: "Microsoft Yahei", Arial;}
.xqy_141112_box_1_center p{ font-weight:bold; width:100%;  float:left;border-bottom:1px dashed #bfbfbf;line-height:50px;}
.zxf_p{ font-weight:bold; width:100%;  float:left;border-bottom:1px dashed #bfbfbf;line-height:50px;}

.xqy_141112_box_1_c_nr{ width:100%; float:left; font-size:0.9em; line-height:24px; margin-top:20px;}
.xqy_141112_box_1_c_nr img{ float:left; padding-bottom:10px;}


