/* CSS Document */



.page_cartoon_141225_3{ width:100%; margin:0 auto;font-family: "Microsoft Yahei", Arial;}

.page_cartoon_141225_3_desc{ width:80%;position:absolute; left:5%; top:5%; line-height:24px; color:#fff; padding:10px; background:#593972;box-shadow: rgba(0, 0, 0, 0.298039) 10px 10px 0px; z-index:0; font-size:0.9em;}
.page_cartoon_141225_3_title{ padding:10px;position:absolute; left:50%; top:20%; background:rgba(255,255,255,0.5);box-shadow: rgba(0, 0, 0, 0.298039) 10px 10px 0px; font-size:1.4em; z-index:1; color:#593972;}
