/* CSS Document */

.tuwen1029_2{position:absolute;top:10px;left:10px;width:300px;height:175px;border-radius: 30px;}
.tuwen1029_1_wenzi{position:absolute; left:10px; top:190px; width:100%; margin:0 auto;}


.tuwen1029_1_wenzi header{border-bottom:1px solid; line-height:30px;padding: 0px 5px;border-bottom-color: rgba(255,255,255,0.2);}


.tuwen1029_1_wenzi header h3 {font-size:1.2em; color:#fff; padding-top:10px;font-family:Microsoft YaHei;}
.tuwen1029_1_riqi{color:#fff;font-size: 0.9em;font-family:Microsoft YaHei;}

.tuwen_z8{padding: 10px;line-height: 24px;color:#fff;font-size: 0.9em;}

