.tw_150306_page1_center{position:absolute; width:200px;left:60px;top:100px;z-index:0;}
.tw_150306_page1_center img{max-width: 100%;height: auto;width: auto\9;}
.tw_150306_page1_title{ position:absolute;font-size:2em;text-align:center;float:left; color:#d34141;width:200px;left:60px;top:135px;}
.tw_150306_page1_desc{ position:absolute;font-size:1em;text-align:center;float:left; color:#fff; line-height:22px;width:200px;left:60px;top:225px;}
