@charset "utf-8";
/* CSS Document */

.box_hudong_141114_df_1{ width:100%; height:100%;font-family: "Microsoft Yahei", Arial;}

.wdy_top{ margin:0 auto;text-align:center;}


.dy_tatle_141114_df_1{ width:90%; margin:0 auto; font-size: 1.2em; font-family:Microsoft YaHei; text-align:center; line-height:50px;border-bottom:1px #8a8a8a dashed;}
.dy_box_141114_dafen{ width:90%; margin:0 auto; margin-top:20px;}
.dy_box_141114_dafen h3{ font-size:1.0em; line-height:40px; float:left; color:#5e5e5e;}
.box_dafen_fenzhi{ width:100%; float:left;padding:5px 0;}
.box_dafen_fenzhi ul{ width:100%; float:left; list-style:none;}
.box_dafen_fenzhi li{float:left; display:block; margin-left:10px;}
.box_dafen_fenzhi li img{ float:left;}



.tj_anniu_141114_df_1{ width:30%;margin:0 auto;height:30px; line-height:30px;border-radius: 5px; text-align:center;border:1px #8a8a8a solid; margin-top:20px; background:#f3f2f2; margin-bottom:10px;}




















