/* CSS Document */



.page_cartoon_141223_3{ width:100%; margin:0 auto;}
.page_cartoon_141223_3_con{padding:0px 20px;position:absolute; bottom:10%;font-family: "Microsoft Yahei", Arial; font-size:1.0em; color:#fff; text-align:left; line-height:22px;
}
.page_cartoon_141223_3_ttle{ width:100%;position:absolute; top:20%;font-family: "Microsoft Yahei", Arial; font-size:1.6em; color:#fff; text-align:center;text-shadow: 1px 2px 3px #313131;
}
