
.notice {text-align:center;top:75px;}
.notice img {width:50%;margin-bottom:5%;}
.notice p {color:#ec5f7c;font-size:20px;line-height:34px;}
.notice p a {color:#ec5f7c;}
.notice p.link {margin-top:5%;}