/* CSS Document */



.page_cartoon_141223_5{ width:100%; margin:0 auto;}

.page_cartoon_141223_5_title{ width:87.5%; line-height:40px;position:absolute;top:58%;font-family: "Microsoft Yahei", Arial; font-size:1.4em; color:#212121;background:rgba(255,255,255,0.8); padding:0 20px;
}

.page_cartoon_141223_5_con{ width:87.5%;padding:10px 20px;position:absolute; top:65%;font-family: "Microsoft Yahei", Arial; font-size:1.0em; color:#fff; text-align:left; line-height:26px;background:rgba(0,0,0,0.4);
}
